.show_diary_wrapper

  %p
    %h1= @diary.plantopia.name

  %p
    - if @diary.plantopia.plantpic.attached?
      %img{:src => url_for(@diary.plantopia.plantpic)}/

  %br
  %br
  %br
  %br
  %br
  %br

  %p= @diary.title


  = link_to t('.edit'), edit_diary_path(@diary)
  \|
  = link_to t('.back'), diaries_path
