%nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  / Brand/logo
  %a.navbar-brand{:href => "home"}
    %img{:src => image_url("logo.png")}/
  / Links
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{:href => "home"} Home
    %li.nav-item
      %a.nav-link{:href => "#"} Plant Entry
    %li.nav-item
      %a.nav-link{:href => "contact"} Contact
