%div.home
  %h1= t('.title')
  %p= t('.welcome')
  %img{:src => image_url("plant_growing.jpg")}/
  %p
  Put your plants that you planted in your garden in plant entry page and Record or comment down your own plants' growth like writing a diary,
  %span{:style => "color:#0d7900;font-weight:bold;font-size:18px"} A Plant Diary!
  This is what our app aims for!
